<doctype>
<html>
<head>
  <title>Event City</title>

  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
  <![endif]-->

  <meta name="description" content="See current events location based on your GPS position">
  <meta name="keywords" content="event city, location, automatic, gps">

  <meta name="viewport" content="width=500, initial-scale=0.6, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>

  <div class="map-container">
    <div class="overlay"></div>
    <div id="map"></div>
    <i class="loader"></i>
    <i class="fail"></i>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
  <script src="js/eventcity.js"></script>

  <script>
    EventCity.getPosition();
  </script>
</body>
</html>
