body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#main {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 110px;
}

.map-container {
    width: 184px;
    height: 184px;
    float: left;
    position: relative;
}
.map-container .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 184px;
    height: 184px;
    background: url(../img/map-overlay.png);
    z-index: 10;
}
.map-container .fail {
    display: none;
    position: absolute;
    left: 61px;
    top: 67px;
    width: 62px;
    height: 49px;
    background: url(../img/fail.png);
    z-index: 1;
}
.map-container .loader {
    display: none;
    width: 80px;
    height: 80px;
    background: url(../img/loader.gif);
    position: absolute;
    left: 52px;
    top: 52px;
    z-index: 2;
}

#map {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 680px;
    height: 300px;
    z-index: 9;

  margin: 40px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(68,68,68,0.6);
     -moz-box-shadow: 0 8px 6px -6px rgba(68,68,68,0.6);
          box-shadow: 0 8px 6px -6px rgba(68,68,68,0.6);
}
